@charset "utf-8";

.example {
    color: #000;
    text-align: center;
}

.example-item {
   display: inline;
    width: 33.333%;
    height: 150px;
}

.example-item_first {
    background-color: #0000ff;
}

.example-item_second {
    background-color:#8a2be2;
}

.example-item_third {
    background-color: #FFF750;
}

